USE [FashioNEXDB]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 8/23/2018 2:18:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Address](
	[Address_Id] [int] IDENTITY(1,1) NOT NULL,
	[AddressLine1] [nvarchar](max) NOT NULL,
	[AddressLine2] [nvarchar](max) NULL,
	[Landmark] [nvarchar](max) NULL,
	[AddressType] [varchar](50) NULL,
	[City] [nvarchar](max) NOT NULL,
	[State] [nvarchar](max) NOT NULL,
	[ZipCode] [int] NOT NULL,
	[Primary_Contact] [int] NOT NULL,
	[Secondary_Contact] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Address_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BRANDS]    Script Date: 8/23/2018 2:18:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BRANDS](
	[BrandID] [int] IDENTITY(1,1) NOT NULL,
	[BrandName] [varchar](500) NOT NULL,
	[BrandRating] [decimal](10, 2) NOT NULL,
	[BrandImageName] [varchar](100) NULL,
	[BrandImage] [varbinary](max) NOT NULL,
	[IsActive] [char](1) NOT NULL,
	[Cr_datetime] [datetime] NULL,
	[Mo_datetime] [datetime] NULL,
 CONSTRAINT [PK_BrandMaster_Cr_BrandID] PRIMARY KEY CLUSTERED 
(
	[BrandID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CART_PAYMENT_DETAILS]    Script Date: 8/23/2018 2:18:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CART_PAYMENT_DETAILS](
	[CART_ID] [int] NOT NULL,
	[PAYMENTID] [int] NOT NULL,
	[PAYMENTSTATUS] [varchar](50) NULL,
 CONSTRAINT [PK_CartPaymentDetails] PRIMARY KEY CLUSTERED 
(
	[CART_ID] ASC,
	[PAYMENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Category_Master]    Script Date: 8/23/2018 2:18:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Category_Master](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [varchar](500) NOT NULL,
	[SegamentID] [int] NULL,
	[IsActive] [char](1) NOT NULL,
	[Cr_datetime] [datetime] NULL,
	[Mo_datetime] [datetime] NULL,
 CONSTRAINT [PK_CategoryMaster_Cr_CategoryID] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ORDERDETAILS]    Script Date: 8/23/2018 2:18:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ORDERDETAILS](
	[ORDERID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[ProductQuantity] [int] NOT NULL,
	[ITEM_TOTAL_Cost] [decimal](10, 2) NOT NULL,
	[ORDER_STATUS] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ORDERID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ORDERS]    Script Date: 8/23/2018 2:18:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ORDERS](
	[ORDERID] [int] NOT NULL,
	[ORDERNUMBER] [nvarchar](100) NOT NULL,
	[INVOICENUMBER] [nvarchar](100) NOT NULL,
	[PAYMENTID] [int] NOT NULL,
	[ORDERDATE] [datetime] NOT NULL,
	[PAYMENTDATE] [datetime] NOT NULL,
	[SHIPPING_TRACKINGID] [nvarchar](100) NOT NULL,
	[ORDER_STATUS] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ORDERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ORDERS_HISTORY]    Script Date: 8/23/2018 2:18:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ORDERS_HISTORY](
	[ORDERID] [int] NOT NULL,
	[USERID] [int] NOT NULL,
	[ORDER_STATUS] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ORDERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PAYMENT]    Script Date: 8/23/2018 2:18:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PAYMENT](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[PaymentAmount] [decimal](10, 2) NULL,
	[PaymentStatus] [varchar](max) NOT NULL,
	[IsTransactionSuccessFul] [char](1) NOT NULL,
	[EmailId] [varchar](max) NOT NULL,
	[Cr_datetime] [datetime] NULL,
	[PaymentTypeId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PAYMENT_TYPE]    Script Date: 8/23/2018 2:18:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PAYMENT_TYPE](
	[PaymentTypeId] [int] IDENTITY(1,1) NOT NULL,
	[PaymentType] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Product_Category_BRANDS]    Script Date: 8/23/2018 2:18:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Category_BRANDS](
	[BrandID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
 CONSTRAINT [PK_Product_Category_BRANDS_ID] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC,
	[BrandID] ASC,
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PRODUCTFEEDBACK]    Script Date: 8/23/2018 2:18:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRODUCTFEEDBACK](
	[ProductFeedBackID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[UserID] [int] NULL,
	[Rating] [decimal](2, 1) NOT NULL,
	[Comments] [varchar](1000) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PRODUCTS]    Script Date: 8/23/2018 2:18:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRODUCTS](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductModel_UniqueNumber] [varchar](100) NOT NULL,
	[ProductName] [varchar](500) NOT NULL,
	[ProductImageName] [varchar](100) NULL,
	[ProductImage] [varbinary](max) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[IsActive] [char](1) NOT NULL,
	[Cr_datetime] [datetime] NULL,
	[Mo_datetime] [datetime] NULL,
 CONSTRAINT [PK_ProductMaster_Cr_ProductID] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 8/23/2018 2:18:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Roles](
	[Role_Id] [int] IDENTITY(1,1) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
	[IsActive] [char](1) NOT NULL,
	[Cr_datetime] [datetime] NULL,
	[Mo_datetime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Role_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Segment_Master]    Script Date: 8/23/2018 2:18:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Segment_Master](
	[SegamentID] [int] IDENTITY(1,1) NOT NULL,
	[SegmanetName] [varchar](500) NOT NULL,
	[IsActive] [char](1) NOT NULL,
	[Cr_datetime] [datetime] NULL,
	[Mo_datetime] [datetime] NULL,
 CONSTRAINT [PK_SegmentMaster_Cr_SegmentID] PRIMARY KEY CLUSTERED 
(
	[SegamentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SHIPPERS]    Script Date: 8/23/2018 2:18:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SHIPPERS](
	[ShipperId] [varchar](40) NOT NULL,
	[CompanyName] [varchar](100) NOT NULL,
	[ContactEmail] [varchar](100) NOT NULL,
	[ContactNumber] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ShipperId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SHIPPING_TRACKING_DETAILS]    Script Date: 8/23/2018 2:18:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SHIPPING_TRACKING_DETAILS](
	[SHIPPING_TRACKINGID] [nvarchar](100) NOT NULL,
	[SHIPPERID] [varchar](40) NOT NULL,
	[SHIPDATE] [datetime] NOT NULL,
	[EXPECTEDDATE] [datetime] NOT NULL,
	[DELIVERY_STATUS] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SHIPPING_TRACKINGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ShoppingCart]    Script Date: 8/23/2018 2:18:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShoppingCart](
	[Cart_Id] [int] IDENTITY(1,1) NOT NULL,
	[TotalItem] [int] NULL,
	[TotalCost] [decimal](10, 2) NOT NULL,
	[Cr_datetime] [datetime] NULL,
	[Mo_datetime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Cart_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ShoppingCart_Item]    Script Date: 8/23/2018 2:18:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShoppingCart_Item](
	[Cart_Item_Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[ProductQuantity] [int] NOT NULL,
	[CartItemCost] [decimal](10, 2) NOT NULL,
	[Cr_datetime] [datetime] NULL,
	[Mo_datetime] [datetime] NULL,
	[Cart_Id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Cart_Item_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserAddress]    Script Date: 8/23/2018 2:18:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserAddress](
	[UserId] [int] NOT NULL,
	[Address_Id] [int] NOT NULL,
	[IsDefault] [char](1) NOT NULL,
 CONSTRAINT [PK_UserAddress] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[Address_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 8/23/2018 2:18:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[UserId] [int] NOT NULL,
	[Role_Id] [int] NOT NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[Role_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/23/2018 2:18:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[UserEmail] [nvarchar](max) NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[IsRegisteredUser] [char](1) NOT NULL,
	[IsActive] [char](1) NOT NULL,
	[Cr_datetime] [datetime] NULL,
	[Mo_datetime] [datetime] NULL,
	[CellPhone] [int] NOT NULL,
	[First_Name] [varchar](max) NOT NULL,
	[Last_Name] [varchar](max) NULL,
	[Middle_Name] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[CART_PAYMENT_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_CartPaymentDetails_Payement_PaymentId] FOREIGN KEY([PAYMENTID])
REFERENCES [dbo].[PAYMENT] ([PaymentId])
GO
ALTER TABLE [dbo].[CART_PAYMENT_DETAILS] CHECK CONSTRAINT [FK_CartPaymentDetails_Payement_PaymentId]
GO
ALTER TABLE [dbo].[CART_PAYMENT_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_CartPaymentDetails_ShoppingCart_CartId] FOREIGN KEY([CART_ID])
REFERENCES [dbo].[ShoppingCart] ([Cart_Id])
GO
ALTER TABLE [dbo].[CART_PAYMENT_DETAILS] CHECK CONSTRAINT [FK_CartPaymentDetails_ShoppingCart_CartId]
GO
ALTER TABLE [dbo].[Category_Master]  WITH CHECK ADD  CONSTRAINT [FK_CategoryMaster_SegementMaster_SegamentID] FOREIGN KEY([SegamentID])
REFERENCES [dbo].[Segment_Master] ([SegamentID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Category_Master] CHECK CONSTRAINT [FK_CategoryMaster_SegementMaster_SegamentID]
GO
ALTER TABLE [dbo].[ORDERDETAILS]  WITH CHECK ADD  CONSTRAINT [Fk_ORDERDETAILS_ORDERS_OrderId] FOREIGN KEY([ORDERID])
REFERENCES [dbo].[ORDERS] ([ORDERID])
GO
ALTER TABLE [dbo].[ORDERDETAILS] CHECK CONSTRAINT [Fk_ORDERDETAILS_ORDERS_OrderId]
GO
ALTER TABLE [dbo].[ORDERDETAILS]  WITH CHECK ADD  CONSTRAINT [Fk_ORDERDETAILS_ORDERS_Products_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[PRODUCTS] ([ProductID])
GO
ALTER TABLE [dbo].[ORDERDETAILS] CHECK CONSTRAINT [Fk_ORDERDETAILS_ORDERS_Products_ProductID]
GO
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD  CONSTRAINT [FK_ORDERS_Payement_PaymentId] FOREIGN KEY([PAYMENTID])
REFERENCES [dbo].[PAYMENT] ([PaymentId])
GO
ALTER TABLE [dbo].[ORDERS] CHECK CONSTRAINT [FK_ORDERS_Payement_PaymentId]
GO
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD  CONSTRAINT [FK_SHIPPING_TRACKING_DETAILS_ORDERS_SHIPPING_TRACKINGID] FOREIGN KEY([SHIPPING_TRACKINGID])
REFERENCES [dbo].[SHIPPING_TRACKING_DETAILS] ([SHIPPING_TRACKINGID])
GO
ALTER TABLE [dbo].[ORDERS] CHECK CONSTRAINT [FK_SHIPPING_TRACKING_DETAILS_ORDERS_SHIPPING_TRACKINGID]
GO
ALTER TABLE [dbo].[ORDERS_HISTORY]  WITH CHECK ADD  CONSTRAINT [FK_ORDERS_Users_UserId] FOREIGN KEY([USERID])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[ORDERS_HISTORY] CHECK CONSTRAINT [FK_ORDERS_Users_UserId]
GO
ALTER TABLE [dbo].[ORDERS_HISTORY]  WITH CHECK ADD  CONSTRAINT [FK_ORDERSHISTORY_ORDERS_ORDERID] FOREIGN KEY([ORDERID])
REFERENCES [dbo].[ORDERS] ([ORDERID])
GO
ALTER TABLE [dbo].[ORDERS_HISTORY] CHECK CONSTRAINT [FK_ORDERSHISTORY_ORDERS_ORDERID]
GO
ALTER TABLE [dbo].[PAYMENT]  WITH CHECK ADD  CONSTRAINT [FK_Payement_PaymentType_PaymentTypeId] FOREIGN KEY([PaymentTypeId])
REFERENCES [dbo].[PAYMENT_TYPE] ([PaymentTypeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PAYMENT] CHECK CONSTRAINT [FK_Payement_PaymentType_PaymentTypeId]
GO
ALTER TABLE [dbo].[PAYMENT]  WITH CHECK ADD  CONSTRAINT [FK_Payement_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[PAYMENT] CHECK CONSTRAINT [FK_Payement_Users_UserId]
GO
ALTER TABLE [dbo].[Product_Category_BRANDS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_CATEGORY_BRAND_BrandId] FOREIGN KEY([BrandID])
REFERENCES [dbo].[BRANDS] ([BrandID])
GO
ALTER TABLE [dbo].[Product_Category_BRANDS] CHECK CONSTRAINT [FK_PRODUCT_CATEGORY_BRAND_BrandId]
GO
ALTER TABLE [dbo].[Product_Category_BRANDS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_CATEGORY_BRAND_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category_Master] ([CategoryID])
GO
ALTER TABLE [dbo].[Product_Category_BRANDS] CHECK CONSTRAINT [FK_PRODUCT_CATEGORY_BRAND_CategoryId]
GO
ALTER TABLE [dbo].[Product_Category_BRANDS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_CATEGORY_BRAND_ProductId] FOREIGN KEY([ProductID])
REFERENCES [dbo].[PRODUCTS] ([ProductID])
GO
ALTER TABLE [dbo].[Product_Category_BRANDS] CHECK CONSTRAINT [FK_PRODUCT_CATEGORY_BRAND_ProductId]
GO
ALTER TABLE [dbo].[PRODUCTFEEDBACK]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTFEEDBACK_PRODUCT_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[PRODUCTS] ([ProductID])
GO
ALTER TABLE [dbo].[PRODUCTFEEDBACK] CHECK CONSTRAINT [FK_PRODUCTFEEDBACK_PRODUCT_ProductID]
GO
ALTER TABLE [dbo].[SHIPPING_TRACKING_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_SHIPPING_TRACKING_DETAILS_SHIPPERS_SHIPPERID] FOREIGN KEY([SHIPPERID])
REFERENCES [dbo].[SHIPPERS] ([ShipperId])
GO
ALTER TABLE [dbo].[SHIPPING_TRACKING_DETAILS] CHECK CONSTRAINT [FK_SHIPPING_TRACKING_DETAILS_SHIPPERS_SHIPPERID]
GO
ALTER TABLE [dbo].[ShoppingCart_Item]  WITH CHECK ADD  CONSTRAINT [FK_ProductMaster_ShoppingCartItem_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[PRODUCTS] ([ProductID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ShoppingCart_Item] CHECK CONSTRAINT [FK_ProductMaster_ShoppingCartItem_ProductID]
GO
ALTER TABLE [dbo].[ShoppingCart_Item]  WITH CHECK ADD  CONSTRAINT [FK_ShoppingCart_ShoppingCartItem_Cart_Id] FOREIGN KEY([Cart_Id])
REFERENCES [dbo].[ShoppingCart] ([Cart_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ShoppingCart_Item] CHECK CONSTRAINT [FK_ShoppingCart_ShoppingCartItem_Cart_Id]
GO
ALTER TABLE [dbo].[UserAddress]  WITH CHECK ADD  CONSTRAINT [FK_UserAddress_Address_AddressId] FOREIGN KEY([Address_Id])
REFERENCES [dbo].[Address] ([Address_Id])
GO
ALTER TABLE [dbo].[UserAddress] CHECK CONSTRAINT [FK_UserAddress_Address_AddressId]
GO
ALTER TABLE [dbo].[UserAddress]  WITH CHECK ADD  CONSTRAINT [FK_UserAddress_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserAddress] CHECK CONSTRAINT [FK_UserAddress_Users_UserId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Roles_RoleId] FOREIGN KEY([Role_Id])
REFERENCES [dbo].[Roles] ([Role_Id])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Roles_RoleId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Users_UserId]
GO

Alter table products 
ALTER COLUMN [ProductImage] Varbinary(max)  NULL;

GO

Alter table products 
ADD Quantity int NOT NULL default 0;

GO